
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.content {
  width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header__logo {
  opacity: 1;
  cursor: pointer;
}

.header__logo:hover {
  opacity: .6;
}

.header {
  position: relative;
  margin-top: 52px;
  height: 80px;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__link {
  margin-right: 24px;
  opacity: 1;
}

.nav__link:hover {
  opacity: .6;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  
}

.information {
  display: flex;
  flex-direction: column;
}

.information__title {
  font-weight: bold;
  width: 527px;
  font-size: 60px;
  line-height: 70px;
}

.information__text {
  margin-top: 43px;
  font-style: normal;
  font-size: 21px;
  line-height: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}

.clouds ::before {
  position: absolute;
  content: url("../img/Cloud-big.png");
  width: min-content;
  opacity: .3;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  user-select: none;
  display: block;
}

.clouds ::after {
  position: absolute;
  content: url("../img/Cloud-small.png");
  opacity: .3;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  display: block;
}

.form__title {
  width: 206px;
  height: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.form__input {
  margin-top: 16px;
  width: 380px;
  height: 53px;
  border-radius: 5px;
  border: none;
  font-size: 21px;
  line-height: 25px;
  opacity: .5;
  padding-left: 16px;
  background-color: #FFFFFF;
  color: #000000;
}

.form__button {
  margin-top: 16px;
  width: 400px;
  height: 53px;
  background: #7400E8;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.form__button:hover {
  cursor: pointer;
  opacity: .6;
}

.form__text {
  margin-top: 16px;
  width: 400px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
  opacity: .5;
  color: #000000;
}

.form__text_link {
  text-decoration: underline;
}

.form__text_link:hover {
  opacity: 1;
}

.footer {
  padding: 10px;
  background: #7400E8;
}